<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MVC_VENDAS.MODEL.Properties.Settings.localConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\local.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MVC_VENDAS.MODEL.Properties.Settings.banco_desenvolvimento_desktopConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=banco_desenvolvimento_desktop;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>