<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICProduto" />
                <binding name="BasicHttpBinding_ICCliente" />
                <binding name="BasicHttpBinding_ICFuncionario" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62720/CCliente.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICCliente" contract="CClienteWCF.ICCliente"
                name="BasicHttpBinding_ICCliente" />
            <endpoint address="http://localhost:62720/CFuncionario.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICFuncionario" contract="CFuncionarioWCF.ICFuncionario"
                name="BasicHttpBinding_ICFuncionario" />
            <endpoint address="http://localhost:62720/CProduto.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICProduto" contract="CProdutoWCF.ICProduto"
                name="BasicHttpBinding_ICProduto" />
        </client>
    </system.serviceModel>
</configuration>